mixin product-list-preview(product)
  .col-lg-3.col-sm-3.col-xs-12(style='padding:0px;')
    .item
      .item-img
        span.bg-img
        a(href=`/product/${product.slug}`)
          img.img-responsive(src=product.img_url , alt='img', width='100%')
      .item-data
        a(href=`/product/${product.slug}`)
          p #{product.title}
        p $#{product.price}
