extends ../layouts/layout
include /mixins/bootstrap/bt-form-text-field
include /mixins/bootstrap/bt-button

block content
  .col-lg-10.col-sm-10.col-xs-12
    section.product-edit-form
    h3 Product edit
    hr
    form(method='POST', action=`/admin/product/${product.slug}/update`)
      +bt-form-text-field('Product name', `${product.title}`, 'product-name-input', 'title', `${product.title}`)
      +bt-form-text-field('Product slug', `${product.slug}`, 'product-slug-input', 'slug', `${product.slug}`)
      +bt-form-text-field('Product description', `${product.description}`, 'product-description-input', 'description', `${product.slug}`)
      +bt-form-text-field('Product price', `${product.price}`, 'product-price-input', 'price', `${product.price}`)
      +bt-form-text-field('Product amount', `${product.amount}`, 'product-amount-input', 'amount', `${product.amount}`)
      +bt-form-text-field('Product img_url', `${product.img_url}`, 'product-img_url-input', 'img_url', `${product.img_url}`)
      +bt-button('Edit')